// in-page navigation layout (ie: user account views)
.page-nav-layout {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 1.5rem;

  &__content {
    max-width: 800px;
  }

  @include media-breakpoint-down(lg) {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

.page-nav {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  & a {
    padding: 0.5rem 1rem !important;
    border-radius: var(--nano-border-radius);
    color: $pagenav-item-color;

    &:hover {
        color: $pagenav-item-hover-color;
    }
    &.router-link-active {
      background-color: $primary;
      color: $white;
    }
  }
}


